@import url('https://fonts.googleapis.com/css?family=VT323');
body {
  text-align: center;
  background: url("https://static.pexels.com/photos/132650/pexels-photo-132650.jpeg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;}

#slogan {
	font-family: 'VT323', monospace;
	font-size: 72 px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

p {
	font-size: 22 px;
}
ul {
    text-align: center;
    list-style-type: none;
}