body {
  text-align: center;
  background-image: url(/images/stealth_hero.jpg);
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}

h1 {
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-weight: 36
    font-family: Helvetica;

}