body {
  text-align: center;
  background-image: url("http://i.imgur.com/q0FaaAk.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}

h1 {
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-weight: 36
    font-family: Helvetica;

}
#slogan {
	font-style: italic;
}